.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: linear-gradient(#87bba2, #c9e4ca 30%);
    padding: 0.5vh;
    color: #364958;
    position: fixed;              
    top: 0;                       /* Aligns to the top */
    z-index: 1;
    right: 0;
    margin-right: 30vw;
    margin-top: 1vh;
    transition: background-color 0.3s ease; /* Smooth transition for background */
    border-radius: 50px 50px 50px 50px;
}

.navbar-links {
    padding: 10px;
}

a {
    text-decoration:none;
    color: #364958;
    display: inline-block;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

a::after {
    content: '';
    position: absolute;
    width: 105%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #8B94A3;
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
}
  
a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
    background-color: #50B2C0;
}

nav.scrolled {
    background-color: #FFFEEA; /* Change to your desired color */
}