:host {
  display: flex; /* Use flexbox for easy centering */
  align-items: center; /* Center content vertically */
  width: 100vw; /* Full viewport width */
  margin: 0; /* Remove default margin */
  position: absolute; /* Position it relative to the viewport */
  top: 0;
  left: 0;
}

.wrapper {
  background-image: linear-gradient(#87bba2, #c9e4ca 30%);
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.title-wrapper, .try-wrapper, .disclaimer-wrapper {
  display: flex;
  justify-content: center;
}

.overview-wrapper, .features-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;    /* Center items horizontally */
  text-align: center;     /* Center text */
  margin-bottom: 10vh;
}

.title {
  display: flex;
  font-size: 5vw;
  color: #364958;
  position: relative;
}

.overview-title, .features-title {
  font-size: 3vw;
  color: #364958;
  margin-right: 27vw;
  position: relative;
  display: flex;
  margin-bottom: 3vh;
}

.overview, .features {
  position: relative;
  display: flex;
  font-size: 1vw;
  text-align: left;
  margin-right: 30vw;
  margin-left: 30vw;
  letter-spacing: 1px;
}

.timeline-wrapper, .team-wrapper, .stack-wrapper {
  margin-left: 2vw;
  margin-right: 2vw;
}

.timeline, .team, .stack {
  color: #364958;
}

.landingpic, .featurespic {
  width: 40vw;
}

.pfp {
  width: 2vw;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: -2px;
}

.sam-popup-wrapper {
  position: relative; /* Positioning for the popup */
  display: inline-block; /* Ensures that the hover area is only around the text */
}

.sam-popup {
  position: absolute; /* Position the popup text */
  background-color: #364958; /* Background color */
  color: white; /* Text color */
  padding: 5px; /* Padding around the text */
  border-radius: 4px; /* Rounded corners */
  bottom: 100%; /* Position above the hover text */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Centering correction */
  white-space: nowrap; /* Prevent text wrapping */
  opacity: 0;
  z-index: 1;
}

.sam-popup-wrapper:hover .sam-popup {
  animation: nameAnimation 0.3s forwards;
}

@keyframes nameAnimation {
  0% { opacity: 0;}
  100% { 
    opacity: 1; 
    transform: translateX(-50%);
  }
}

.iframe-container {
  display: flex;
  justify-content: center;
}

.iframe {
  display: flex;
  width: 50vw;
  height: 90vh;
}

.try-wrapper {
  display: flex;
  justify-content: center;
}

.try-title {
  display: flex;
  font-size: 3vw;
  color: #364958;
  position: relative;
}

.disclaimer-title {
  display: flex;
  font-size: 1vw;
  color: #364958;
  position: relative;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
}