<loadingscreen2-component *ngIf="showOverlay"></loadingscreen2-component>
<app-navbar></app-navbar>
<div class="wrapper">
    <div class="title-wrapper">
        <p #hidden class="title hidden"><b>Art-ificial Intelligence</b></p>
    </div>
    <div class="about">
        <div class="timeline-wrapper">
            <p #hidden class="timeline hidden"><b>Timeline</b></p>
            <p #hidden class="dates hidden">2023</p>
        </div>
        <div class="team-wrapper">
            <p #hidden class="team hidden"><b>Team</b></p>
            <div class="pfps">
                <div class="sam-popup-wrapper">
                    <img #hidden (mouseenter)="onSamMouseEnter()" (mouseleave)="onSamMouseLeave()" src="assets/images/sam.JPG" class="pfp hidden">
                    <span class="sam-popup" *ngIf="samHovered"><b>Sam Hoogewind</b></span>
                </div>
            </div>
        </div>
        <div class="stack-wrapper">
            <p #hidden class="stack hidden"><b>Tech Stack</b></p>
            <p #hidden class="tech hidden">Python, PyTorch, StreamLit</p>
        </div>
    </div>

    <div class="overview-wrapper">
        <img #hidden src="assets/images/artificial.png" class="landingpic hidden">
        <p #hidden class="overview-title hidden"><b>Overview</b></p>
        <p #hidden class="overview hidden">Art-ificial Intelligence is an image classifier that can predict what a user is 
            drawing based on the Google QuickDraw dataset. The classifier has been trained on the QuickDraw dataset, which is a collection of over 
            50 million drawings across 345 categories (this classifier features 20). The system uses a fastai vision learner to classify the user's input 
            and provides the prediction in real-time.
        </p>
    </div>

    <div class="features-wrapper">
        <img #hidden src="assets/images/artificialpage.png" class="featurespic hidden">
        <p #hidden class="features-title hidden"><b>Features</b></p>
        <p #hidden class="features hidden">With features like professor, student and grader roles with corresponding dashboards for overseeing all appeals, as well as live chats for 
            seamless communication, both students and educators can engage effectively. 
        </p>
        <p #hidden class="features hidden">            
            The image classifier is implemented with a drawing canvas API through StreamLit, where the user can draw right on the webpage. As the user draws the image 
            classifier is readily updated, displaying what it believes the user is drawing.
        </p>
    </div>

    <div class="try-wrapper"> 
        <p #hidden class="try-title hidden"><b>Give it a try!</b></p>
    </div>

    <div class="disclaimer-wrapper">
        <p #hidden class="disclaimer-title hidden"><b>(Make sure to draw large)</b></p>
    </div>

    <div class="iframe-container">
        <iframe #hidden 
          src="https://samhoog-art-ificialin-applicationart-ificialintelligence-qh6rsf.streamlit.app/?embed=true"
          class="iframe hidden">
        </iframe>
    </div>
</div>
