<loadingscreen-component *ngIf="showOverlay"></loadingscreen-component>
<app-navbar></app-navbar>

<div class="wrapper">
  <div class="intro">
    <div class="name-wrapper">
      <p class="name"><b>Sam Hoogewind</b></p>
      <div class="box" [@revealAnimation]="isVisible ? 'visible' : 'hidden'"></div>
    </div>

    <div class="about-wrapper">
      <p class="about" #scrambleElement><i>\&#123;]=__+*^&#125;_#.>-?!\/_#^</i></p>
      <div class="box" [@revealAnimation2]="isVisible ? 'visible' : 'hidden'"></div>
    </div>
  </div>

    <div class="connections-wrapper">
      <div class="github">
        <a href="https://github.com/samhoog">
          <img src="assets/images/github.png" class="github">
        </a>
      </div>

      <div class="linkedin">
        <a href="https://www.linkedin.com/in/sam-hoogewind-2bb264271/">
          <img src="assets/images/linkedin.png" class="linkedin">
        </a>
      </div>

      <div class="email">
        <a href="mailto:samuel.hoogewind@icloud.com">
          <img src="assets/images/email.png" class="email">
        </a>
      </div>
    </div>

  <div class="projects-wrapper">
    <div #hidden class="gradeboost hidden project">
      <img src="assets/images/rocket.png" class="rocket">
      <gradeboost-component [routerLink]="['/gradeboost']"></gradeboost-component>
    </div>

    <div #hidden class="knightflix hidden project">
      <img src="assets/images/movie.png" class="movie">
      <knightflix-component [routerLink]="['/knightflix']"></knightflix-component>
    </div>

    <div #hidden class="artificial hidden project">
      <img src="assets/images/pencil.png" class="pencil">
      <artificial-component [routerLink]="['/art-ificialintelligence']"></artificial-component>
    </div>
  </div>
</div>