.wrapper {
    background-image: linear-gradient(#87bba2, #c9e4ca 30%);
    background-repeat: no-repeat;
    background-attachment: scroll;
}

:host {
    display: flex; /* Use flexbox for easy centering */
    align-items: center; /* Center content vertically */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    position: absolute; /* Position it relative to the viewport */
    top: 0;
    left: 0;
}