:host {
  display: flex; /* Use flexbox for easy centering */
  align-items: center; /* Center content vertically */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  position: absolute; /* Position it relative to the viewport */
  top: 0;
  left: 0;
  background-color: #f0f0f0; /* Optional: set a background color */
}

html, body {
  height: 100%; /* Make sure the body takes up the full height of the viewport */
  margin: 0; /* Remove default margin */
}

.name-wrapper, .about-wrapper {
  display: flex;
  align-items: center;
  margin-left: 20vw;
  position: relative;
}

.intro {
  position: relative;
}

.name {
  font-size: 4vw;
}

.about {
  font-size: 2vw;
}

.box {
  position: absolute; /* Position it absolutely within the container */
  left: 0;
  background-color: #3498db; /* Box color */
  color: white;
  overflow: hidden;
  width: 100%;
  height: 70%;
}

.name, .about {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
