<loadingscreen2-component *ngIf="showOverlay"></loadingscreen2-component>
<app-navbar></app-navbar>
<div class="wrapper">
    <div class="title-wrapper">
        <p class="title"><b>GradeBoost</b></p>
    </div>
    <div class="about">
        <div class="timeline-wrapper">
            <p class="timeline"><b>Timeline</b></p>
            <p class="dates">2023 - 2024</p>
        </div>
        <div class="team-wrapper">
            <p class="team"><b>Team</b></p>
            <div class="pfps">
                <div class="sam-popup-wrapper">
                    <img (mouseenter)="onSamMouseEnter()" (mouseleave)="onSamMouseLeave()" src="assets/images/sam.JPG" class="pfp">
                    <span class="sam-popup" *ngIf="samHovered"><b>Sam Hoogewind</b></span>
                </div>
                <div class="ael-popup-wrapper">
                    <img (mouseenter)="onAelMouseEnter()" (mouseleave)="onAelMouseLeave()" src="assets/images/ael.jpg" class="pfp">
                    <span class="ael-popup" *ngIf="aelHovered"><b>Ael Lee</b></span>
                </div>
                <div class="justin-popup-wrapper">
                    <img (mouseenter)="onJustinMouseEnter()" (mouseleave)="onJustinMouseLeave()" src="assets/images/justin.jpg" class="pfp">
                    <span class="justin-popup" *ngIf="justinHovered"><b>Justin Voss</b></span>
                </div>
                <div class="tyler-popup-wrapper">
                    <img (mouseenter)="onTylerMouseEnter()" (mouseleave)="onTylerMouseLeave()" src="assets/images/tyler.jpg" class="pfp">
                    <span class="tyler-popup" *ngIf="tylerHovered"><b>Tyler Voss</b></span>
                </div>
            </div>
        </div>
        <div class="stack-wrapper">
            <p class="stack"><b>Tech Stack</b></p>
            <p class="tech">Angular, TypeScript, Docker, Supabase, Resend</p>
        </div>
    </div>

    <div class="overview-wrapper">
        <img src="assets/images/gradeboostlanding.png" class="landingpic">
        <p class="overview-title"><b>Overview</b></p>
        <p class="overview">GradeBoost offers a centralized, user-friendly interface that allows students to submit, track, 
            and manage grade appeals effortlessly. When a project is graded incorrectly or you resubmit a lab, the process can be 
            down quickly and effectively though GradeBoost, instead of cluttering up email inboxes.
        </p>
    </div>

    <div class="features-wrapper">
        <img src="assets/images/gradeboostpage.jpg" class="featurespic">
        <p class="features-title"><b>Features</b></p>
        <p class="features">With features like professor, student and grader roles with corresponding dashboards for overseeing all appeals, as well as live chats for 
            seamless communication, both students and educators can engage effectively. 
        </p>
        <p class="features">            
            Using Resend we implemented weekly digest emails and adjustable notification settings, 
            as well as having on-premise single sign-on authentication. Plus, pre-written response templates help professors save time while 
            focusing on supporting student success.
        </p>
    </div>
    
</div>
